body {
   background-image: url("background3.jpg");
   background-color: #cccccc;
   background-size: 100%;
   opacity: 0.8;
}

.customTable {
	font-weight: bold; 
	width: 70% !important;
}

thead:hover, tr:hover {
	background-color: #000066;
	color: white;  
}

div.transbox {
	margin-top: 3%; 
	margin-left: 0%;
	margin-bottom: 2%; 
	width: 30%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.transbox h1 {
	text-shadow: 1px 2px;
    margin: 5%;
    font-weight: bold;
    color: #000000;
}